html {
    font-family:'Courier New', Courier, monospace;
    font-size: 100%
}

/* Home Section*/
#home {
    text-align: center;    
    font-weight: 900;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 33px
}

/* Nagivation Section */
.navigation {
    text-align: center;
    
}

/* Gallery Section */
#gallery {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Video Section */
#videos {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Contact Section */
#contact {
    width: 50%;
    margin: 2% auto;
    border: double;
    border-radius: 5px;
    padding: 10px;
}

/* Form Modifications */
.rsvp {
    width: 50%;
    margin: 2px auto;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 1%;
}